[user]
	email = vermeulen.rasmus@gmail.com
	name = Rasmus Vermeulen
[push]
	default = simple
[color]
	ui = true
[rerere]
	enabled = true
[core]
	editor = vim
[alias]
	a = add
	aa = !git add $(git rev-parse --show-toplevel)
	aliases = config --get-regexp '^alias\\.'
	amend = commit --amend
	c = commit
	ca = commit -a
	cam = commit -am
	cm = commit -m
	cp = cherry-pick
	d = diff
	dcn = !git log $1..HEAD --oneline
	del = branch -d
	dn = diff --name-only
	dnn = diff --name-status --diff-filter=A
	ds = diff --staged
	dsn = diff --staged --name-only
	hi = !git wtf
	kill = branch -D
	last = log -1 HEAD
	make = checkout -b
	mk = checkout -b
	s = status
	sa = stash apply
	sd = stash drop
	sk = stash --keep-index
	sls = stash list
	sm = stash save
	smk = stash save --keep-index
	sp = stash pop
	ss = stash
	st = status
	whatadded = log --diff-filter=A
	wtf = !git b && git s && git slso = checkout
	l = log -1
	ap = add -p
	rhp = reset HEAD -p
	cfd = clean -fd
	cf = clean -f
	rh = reset HEAD
	rbi = rebase -i
	rbc = rebase --continue
	rba = rebase --abort
	pop = reset HEAD^
	pl = pull
	ps = push
	sl = stash list
	ls = stash list
	rb = rebase
	lg = log --grep
	sh = show HEAD
	brm = branch -m
	k = branch -d
	kk = branch -D
	progress = !git --no-pager dcn dev && echo && git --no-pager dn dev
	p = !git progress
	rpo = remote prune origin
	brc = branch --contains
	ru = remote update
	dnh = diff --name-only HEAD
	rbs = rebase --skip
	psf = push -f
	lsf = ls-files
	nuke = !git rh --hard && git cfd && git s
	psmake = !git push -u origin $(git brn)
	psm = !git psmake
	brn = rev-parse --abbrev-ref HEAD
	restage = update-index --again
	b = branch
	prb = pull --rebase
	ai = add --intent-to-add
	aai = add --all --intent-to-add
	mb = merge-base
	be = branch --edit-description
	dp = !git d $(git mb dev HEAD)a
	bv = branch -vv
	am = !echo override
	fixup = commit --fixup
	bd = "!(export GIT_EDITOR=cat; git be | grep -v \"#\")"
	dt = diff --text
	f = fetch
	dst = diff --staged --text
	gca = gc --aggressive
	go = checkout
	ll = log --format='%<(12)%ar %Cblue%h %Creset%<(64,trunc)%s %Cgreen%<(10,trunc)%an'
	pso = push origin
	ar = update-index --again
	bm = branch --merged
	bl = branch --list
	graph = log --graph --decorate --oneline
	kill-orphans = !git b -v | ag gone | cut -d' ' -f3 | xargs -I b git k b
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
